 * {
     margin: 0;
     padding: 0;
 }

 :root {
     --fundo-cabecalho: #E8C3C3;
     --fundo-lista: #224E5F;
     --fundo-lista: #000000;
 }

 .cabecalho {
     background-color: var(--fundo-cabecalho);
     color: var(--fundo-lista);
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 24px 0;
 }

 .imagem-cabecalho {
     width: 100px;
 }

 .item-lista-cabecalho {

     display: inline-block;
     margin: 0 05px;
     font-size: larger;
 }

 .escola-imagem {
     width: 10%;
 }

 .escola {
     background-image: linear-gradient(#E8C3C3, #214E5F);
     display: flex;
     align-items: center;
     padding-bottom: 16%;
     padding-top: 6%;
     padding-left: 10%;
 }

 .escola-div-conteudo {
     width: 75%;
 }

 .escola-titulo {
     
     padding: 24px 0;
 }

 .estudante-imagem {
     width: 120px;
 }

 .estudante-icone {
     width: 24px;
     padding: 4px 8px;
 }

 .estudante-div {
     background-color: #224E5F;
     text-align: center;
     padding: 16px 0; 
     
 } 
 .estudante-titulo{
    background-color: #224E5F;
    padding: 24px 0;
 } 
 .estudante-todos{ 
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%  ;
 } 
 .rodape{
    background-color: black;
    text-align: center;
 }
 .rodape-imagem{ 
    height: 60px;
    padding: 12px 0;
 }